torch
torchvision
torchaudio
transformers
accelerate
datasets
evaluate
peft
bitsandbytes
librosa
soundfile
jiwer
mlflow
python-dotenv
pyyaml
click
wandb
numpy
thop
whisperx @ git+https://github.com/m-bain/whisperX.git
Pillow
sentencepiece
textgrid
pandas
huggingface_hub
colorama
pydub