torch
torchvision
torchaudio
accelerate
datasets 
librosa 
transformers 
evaluate 
soundfile 
jiwer
mlflow
dotenv
peft
bitsandbytes
pyyaml
click
whisperx @ git+https://github.com/m-bain/whisperX.git
numpy
wandb
thop